
body{
    background-color:#4B1248;
    background-image: linear-gradient(#4B1248, #F0C27B);
    color: white;
        
    }
    
h1{    
    font-family: 'Trirong', serif;
    font-size: 40px;
        
    }

p{
    font-family: 'Courgette', cursive;
    font-size: 20px;
    }

ul{
    font-family: 'Courgette', cursive;
    font-size: 16px;
    }

#center{
    text-align: center;
    color: white;

}

.roundBorder{
    border: 2px solid white;
    border-radius: 5px;
}
